
.cta-button {
  background-color: #007BFF;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


.eventCard {
  background: #fff;
  border: 1px solid #1976d2;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 18px;
}
