@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav li {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .event-img {
    width: 90vw;
    height: auto;
  }
  body, h2, p {
    font-size: 90%;
  }
  main {
    padding: 6vw 2vw;
  }
}
